:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 24px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--foreground);
    color: var(--background);
    transition:
        background-color 0.3s,
        color 0.3s;
    margin-left: 16px;
    margin-right: 16px;
}

.styledLink {
    font-size: 24px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: green;
    color: var(--background);
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
